alabaster==0.7.13
Babel>=2.12.1
certifi==2023.7.22
chardet==5.2.0
colorama>=0.4.4
doc8==1.1.1
docutils>=0.15
idna==3.4
imagesize>=1.3
Jinja2>=3.0
livereload==2.6.3
MarkupSafe>=2.0
packaging>=21.0
pbr==5.11.1
Pygments>=2.14
pyparsing==3.1.1
pytz==2023.3.post1
requests==2.31.0
restructuredtext-lint==1.4.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-design==0.5.0
sphinx-autobuild==2021.3.14
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
Sphinx-Substitution-Extensions==2022.2.16
sphinx-reredirects==0.1.2
stevedore==5.1.0
tornado==6.3.3
urllib3==2.0.5
sphinx-copybutton==0.5.2
sphinx-toolbox==3.5.0
sphinx-tabs>=3.4.1
pydata-sphinx-theme==0.14.1
sphinx-notfound-page==1.0.0
jsx-lexer==1.0.0
sphinx-tippy==0.4.1
