{# Allows a page to override the template using :template:<file-in-_template-dir> #}

{% extends meta.template|default('!layout.html') if meta is defined else "!layout.html" %}

{# Adds extra headers to the template, such as custom styling #}
{% block extrahead %}
<link href="{{ pathto("_static/style.css", True) }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block sidebartitle %}
{{super()}}
<nav class="sidebar-top-menu">
    <a href="{{ pathto('mainnet/net/index') }}" class="{{ 'active' if entry is defined and entry == 'mainnet/net/index' else '' }}" ><i class="icon fa fa-connectdevelop"></i> Mainnet</a>
    <a href="{{ pathto('mainnet/smart-contracts/index') }}" class="{{ 'active' if entry is defined and entry == 'mainnet/smart-contracts/index' }}"> <i class="icon fa fa-file-o"></i> Smart Contracts </a>
</nav>
{% endblock %}

{% block footer %}
{% include "analytics.html" %}
{% endblock %}
