.wy-nav-content {
    max-width: 900px;
    margin: auto;
}

.wy-side-nav-search > a {
    /* Fixes logo is gone, when it is an svg */
    width: 100% !important;
}

.rst-content div.highlight .gp {
    /* Adds padding to the right of '$' in code-blocks with terminal commands. */
    padding-right: 0.5em;
}

.wy-side-nav-search {
    margin-bottom: 0;
    padding-bottom: 0;
}

.sidebar-top-menu {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left: -.809em;
    margin-right: -.809em;
}

.sidebar-top-menu a {
    color: #d9d9d9;
    flex: 1;
    padding: 0.5em;
    border-radius: 2px 2px 0 0;
}

.rst-versions.shift-up {
    overflow-y: auto;
}

.sidebar-top-menu a.active {
    background-color: #343131;
}

.consent {
    position: fixed;
    left: 300px;
    right: 0;
    bottom: 0;
    background: black;
    color: #d9d9d9;
    padding: 1em;
}

@media only screen and (max-width: 768px) {
    .consent {
        left: 0;
    }
}

.consent p {
    margin-bottom: 0.5em;
}

.consent button {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: .5em;
    margin-right: .5em;
}

.consent a:link {
    margin-left: .5em;
    color: lightblue;
    text-decoration: underline;
}

.consent a:visited {
    color: lightgrey;
}

.consent   a:hover {
    color: #2980b9;
}

.consent a:active {
    color: #d9d9d9;
}

/* Change the highlight color used in code-snippets. This makes them stand out more. */
.highlight .hll {
    background-color: #ccddcc;
}
