.wy-nav-content {
    max-width: 900px;
    margin: auto;
}

.wy-side-nav-search > a {
    /* Fixes logo is gone, when it is an svg */
    width: 100% !important;
}

.rst-content div.highlight .gp {
    /* Adds padding to the right of '$' in code-blocks with terminal commands. */
    padding-right: 0.5em;
}

.wy-side-nav-search {
    margin-bottom: 0;
    padding-bottom: 0;
}

.sidebar-top-menu {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left: -.809em;
    margin-right: -.809em;
}

.sidebar-top-menu a {
    color: #d9d9d9;
    flex: 1;
    padding: 0.5em;
    border-radius: 2px 2px 0 0;
}


.sidebar-top-menu a.active {
    background-color: #343131;
}