.wy-nav-content {
    max-width: 900px;
    margin: auto;
}

.wy-side-nav-search > a {
    /* Fixes logo is gone, when it is an svg */
    width: 100% !important;
}

.rst-content div.highlight .gp {
    /* Adds padding to the right of '$' in code-blocks with terminal commands. */
    padding-right: 0.5em;
}

.sidebar-top-menu {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: space-between;
}

.sidebar-top-menu a {
    color: #fcfcfc;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid black;
}

.sidebar-top-menu a.active {
    background-color: #fcfcfc;
    color: black;
    border-color: #2472a4;
}