.wy-nav-content {
    max-width: 900px;
    margin: auto;
    margin-top: 3em; /* Must be same or larger than .topbar height */
}

.wy-side-nav-search > a {
    /* Fixes logo is gone, when it is an svg */
    width: 100% !important;
}

.rst-content div.highlight .gp {
    /* Adds padding to the right of '$' in code-blocks with terminal commands. */
    padding-right: 0.5em;
}

/* Topbar styling */
.topbar {
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    z-index: 1;
    height: 3em;
    display: flex;
    /* justify-content: center; */
    background-color: black;
    color: white;
}

.topbar a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

.topbar a.active {
    background-color: #efefef;
    color: black
}

.topbar a:hover:not(.active) {
    background-color: #444444;
}

@media only screen and (max-width: 770px) {
    .topbar {
        left: 0;
    }
    .wy-nav-top {
        margin-top: 3em;
    }
}
